* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: darkorange;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    padding: 30px 0;
}

.container {
    width: 100%;
    overflow: hidden;
}

.contenuto {
    width: 70%;
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.dati {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    }

label {
    font-size: 16px;
    font-weight: normal;
    color: blue;
    padding: 10px 0 15px;
}

input {
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid blue;
}

input:hover {
    background-color: lightblue;
}

.scelta {
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid blue;
}

.buttons {
    padding: 40px 0 0;
}

button {
    font-size: 16PX;
    font-weight: bolder;
    color: blue;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: lightgrey;
    margin-right: 15px;
}

button:hover {
    color: white;
    background-color: grey;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    transition: 0.2s;
}

.show {
    opacity: 1;
    transition: 0.2s;
}

h3 {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.nome-passeggero {
    background-color: lightgrey;
    width: 30%;
    float: left;
}

.nome-passeggero h2 {
    font-size: 20px;
    text-align: left;
}

.offerta {
    float: left;
}

th, td {
    padding-left: 20px;
    padding-top: 20px;
}
